@{
    Layout = "_BasicLayout";
}

<div class="jumbotron">
    <h3>There is already a short link to this link, and the second one cannot be created!</h3>
    <br />
    <form asp-action="General">
        <div class="form-horizontal">
            <div class="center">
                <button class="btn btn-primary" type="submit">Go Back</button>
            </div>
        </div>
    </form>
</div>
