<!DOCTYPE html>

<html>
<head>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-1">Url shortener ver 1.0</h1>
        @RenderBody()
    </div>
</body>
</html>
